

//Tonos principales 
$bb-primary: #DB560E;   
$bb-secondary: #849E15; 
$bb-accent: #F8CABA;    

//Tonos de soporte (UI / backgrounds)
$bb-light: #F7F5F1;     
$bb-dark: #2B2B23;      
$bb-muted: #92A2A6;     

//Tonos complementarios
$bb-highlight: #EFCE7B; 
$bb-warm: #E1903E;      
$bb-cool: #6777B6;      
$bb-soft-green: #CBD183; 
$bb-soft-pink: #D17089;  
$bb-bg-orange: #E1903E;  
$bb-bg-rose: #EECFC4;    


$bb-radius-lg: 1.5rem;
$bb-shadow-soft: 0 16px 30px rgba(0, 0, 0, 0.08);


$bb-success: #3ca57a; 
$bb-danger: #e0565b;  